body {
    background: white;
  }
  h1 {
    font-weight: bold;
  }
  h1 {
    color: #3c61b6;
  }
  h2 {
    font-weight: bold;
  }
  h2 {
    color: black;
  }
  p {
    font-weight: bold;
  }
  p {
    color: black;
  }
  p {
    font-family: cursive;
  }
  p {
    font-style: italic;
  }